#Used to control the parameters for converting GDSII files to Ansys EDB files. 
#Users can modify this file to adjust the import parameters
DefaultUnit=um

#         0:NoSimplify: No Merge on Dielectric, exact layers in IRCX
#         1:MergeThinLayer: Merge layer thinner than a specific value
#         2:BlockMerge:  use average DK on all layers except substrate
#         3:MergeByLayer:  use average DK layer by layer except substrate
SimplifyDieletricMethod=3

UseShortMergeLayerName=True
MergeDielectricMethod=0
ThinDielectricThreshold=0.1
DkDeviationThreshold=0.05

#When the height difference between two layers is less than FixeSmallLayerGap #<unit>, 
#it will be corrected and automatically aligned to avoid mesh problems
FixedSmallLayerGap=0.005

#When the thickness of a metal layer is less than SheetLayerThreshold #<unit>, it will be set to 0 thickness. 
#HFSS Solver considers the 2D boundary of the sheet to avoid mesh problems caused by thin layers
SheetLayerThreshold=0.0015

#When UseDefaultDF is set, the df value will be increased for all dielectric layers and will not be processed by default.
UseDefaultDF=None

#remove layers that match the regular expression
IgnoreLayersReg=air,ctm.*,cbm.*,dtce.*

CreatViaGroups=True
NotUseViaGroupsOnLayers=.*tsv.*,pmb
CreatViaGroupsOption=Method:proximity,Tolerance:5um,CheckContainment:true
DeleteEmptyNonLaminateSignalLayers=False

#MetalLayerSnappingTolerance to set the maximum distance for moving primitives when aligning them. Its value is a string in the form #<unit>.
MetalLayerSnappingTolerance=0.001

ConvertPolygonToCircleOnLayers=ubmb,ubump
ConvertPolygonToCircleRatio=0.8

#Fits arcs and circles to the selected polygons on a target layer.oEditor.ReconstructArcsOnLayer("Layers",0.00254)
ReconstructArcsOnLayers=None
ArcTolerance=0.2um
SolveInsideOnLayers=None
#ubmb,ubump, or 1,-1
UnionPrimitivesOnLayer=1,-1

#import options
GDSIIScalingFactor=1.0
ImportDegassingHoles=False
#ImportDummyNet=false ensures that only list nets are imported
ImportDummyNet=True

#ComponentPinsDistanceTolerance  #<unit>, Pins with a spacing smaller than the ComponentPinsDistanceTolerance will be treated as a Component
GenerateComponent=True
#ubmb,ubump,or 1,-1
ComponentOnLayers=1,-1
ComponentPinsDistanceTolerance=100

#Take cutout of design while importing GDS to AEDT,Specify x,y coordinates of polygonal cutout boundary
#e.g. For a rectangular cutout, specify four x,y points CutoutPolygon=1070,2470;685.8,1506.14;1864.35,825.462;1907.55,2148.462
CutoutPolygon=None

#ImportDummyLayer only for ircx
ImportDummyLayer=False
DummyLayerReg=metal\d+


# #paths
TechFile=None
LayerMapFile=None
GdsFile=None
ControlXmlPath=None
EdbPath=None
CsvOutPath=None

#for gds post
AedtInstallDir=None
UsePyaedt=True
AedtVersion=None
OpenInAedt=True
DissolveViaGroup=False